<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/sidebar-nav.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/lib/css/popuo-box.css" rel="stylesheet" />
    <link href="~/lib/css/style.css" rel="stylesheet" />


    
    @*<script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/sidebar-nav.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/npm.js"></script>*@
</head>
<body>
    @Html.Partial("AdminPartials/_TopMenu")
    @RenderBody()
    @Html.Partial("AdminPartials/_FooterMenu")
    @RenderSection("script", required: false)
</body>
</html>